body {
    color: white;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 24px;
    background: rgb(181, 244, 74);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 green;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
    background: rgb(181, 244, 74);
}

.choice-text{
    padding: 2rem 2.5rem;
    color: white;
    background: rgb(181, 244, 74);
}
.correct {
    background: green;
}

.incorrect {
    background: red;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid green;
    border-radius: 50px;
    margin-top: 2rem;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: green;
    width: 0%;
}


@media  screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }    
}